{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Francesca Giordano PMU</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <h1 class="logo">Francesca Giordano PMU</h1>
        </div>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="#dermopigmentazione">Dermopigmentazione</a></li>
                <li><a href="#services">Estetica </a></li>
                <li><a href="#skin">Pelle </a></li>
                <li><a href="#makeup">Makeup </a></li>
                <li><a href="#products">Prodotti</a></li>
                <li><a href="#about">Chi sono</a></li>
                <li><a href="#contact">Contatti</a></li>
            </ul>
        </nav>
    </header>

    <section id="hero" style="background-image: url('{% static 'images/main-homepage.jpg' %}');">
        <h2>Benvenuti nel mondo della bellezza</h2>
        <p>Trattamenti di dermopigmentazione e molto altro.</p>
        <a href="#dermopigmentazione" class="cta-btn">Scopri di più</a>
    </section>

    <section id="dermopigmentazione">
        <h2>Dermopigmentazione</h2>
        <div class="service-container">
            <div class="service-item">
                <img src="{% static 'images/sopracciglia.jpg' %}" alt="Sopracciglia" class="service-img">
                <h3>Sopracciglia</h3>
                <p>Ombreggiatura.</p>
            </div>
            <div class="service-item">
                <img src="{% static 'images/occhi.jpg' %}" alt="Occhi" class="service-img">
                <h3>Occhi</h3>
                <p>Trucco permanente.</p>
            </div>
            <div class="service-item">
                <img src="{% static 'images/labbra.jpg' %}" alt="Labbra" class="service-img">
                <h3>Labbra</h3>
                <p>Trucco permanente.</p>
            </div>
        </div>
    </section>

    <section id="services">
        <h2>Trattamenti Estetici</h2>
        <div class="product-grid">
            <div class="product-item">
                <img src="{% static 'images/manicure.jpg' %}" alt="Manicure" class="product-img">
                <h3>Manicure</h3>
                <p>Descrizione prodotto.</p>
            </div>
            <div class="product-item">
                <img src="{% static 'images/pedicure.jpg' %}" alt="Pedicure" class="product-img">
                <h3>Pedicure</h3>
                <p>Descrizione prodotto.</p>
            </div>
            <div class="product-item">
                <img src="{% static 'images/kit_sopracciglia.jpg' %}" alt="Sopracciglia" class="product-img">
                <h3>Sopracciglia</h3>
                <p>Descrizione prodotto.</p>
            </div>
            <div class="product-item">
                <img src="{% static 'images/epilazione.jpg' %}" alt="Epilazione" class="product-img">
                <h3>Epilazione</h3>
                <p>Descrizione prodotto.</p>
            </div>
        </div>
    </section>

    <section id="skin">
        <h2>Cura della Pelle</h2>
        <div class="product-grid">
            <div class="product-item">
                <img src="{% static 'images/Microneedling.jpg' %}" alt="Microneedling" class="product-img">
                <h3>Microneedling</h3>
                <p>Descrizione prodotto.</p>
            </div>
            <div class="product-item">
                <img src="{% static 'images/Trattamenti anti-invecchiamento.jpg' %}" alt="Trattamenti anti-invecchiamento" class="product-img">
                <h3>Trattamenti anti-invecchiamento</h3>
                <p>Descrizione prodotto.</p>
            </div>
            <div class="product-item">
                <img src="{% static 'images/Trattamenti Pulizia del viso.jpg' %}" alt="Pulizia del viso" class="product-img">
                <h3>Pulizia del viso</h3>
                <p>Descrizione prodotto.</p>
            </div>
        </div>
    </section>

    <section id="makeup">
        <h2>Makeup</h2>
        <div class="product-grid">
            <div class="product-item">
                <img src="{% static 'images/Trucco per eventi.jpg' %}" alt="Trucco per eventi" class="product-img">
                <h3>Trucco per eventi</h3>
                <p>Descrizione prodotto.</p>
            </div>
            <div class="product-item">
                <img src="{% static 'images/Consulenze di bellezza.jpg' %}" alt="Consulenze di bellezza" class="product-img">
                <h3>Consulenze di bellezza</h3>
                <p>Descrizione prodotto.</p>
            </div>
        </div>
    </section>

    <section id="products">
        <h2>Prodotti di Bellezza</h2>
        <div class="product-grid">
            <div class="product-item">
                <img src="{% static 'images/Cosmetici.jpg' %}" alt="Cosmetici" class="product-img">
                <h3>Cosmetici</h3>
                <p>Descrizione prodotto.</p>
            </div>
            <div class="product-item">
                <img src="{% static 'images/Prodotti per la cura della pelle.jpg' %}" alt="Prodotti per la cura della pelle" class="product-img">
                <h3>Prodotti per la cura della pelle</h3>
                <p>Descrizione prodotto.</p>
            </div>
            <div class="product-item">
                <img src="{% static 'images/Accessori.jpg' %}" alt="Accessori" class="product-img">
                <h3>Accessori</h3>
                <p>Descrizione prodotto.</p>
            </div>
        </div>
    </section>

    <section id="about">
        <h2>Chi sono</h2>
        <p>Francesca Giordano, esperta in dermopigmentazione e trattamenti estetici avanzati.</p>
    </section>

    <footer id="contact">
        <h2>Contatti</h2>
        <p>Per info: beauty@francescagiordanopmu.it</p>
    </footer>
</body>
</html>